.styleDiv {
  text-align: center;
  margin-top: 50px;
}

/* This ensures your input styling works correctly */
form .input {
  appearance: none; /* Reset appearance */
  background-color: #ffffff ; /* Force the white background */
  border: 2px solid #9b59b6; /* Force border */
  width: 400px;
  height: 40px;
  padding: 10px;
  border-radius: 25px;
  color: #333;
  font-size: 20px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

form .input::placeholder {
  color: #9b59b6;
  opacity: 0.7;
}

form .input:focus {
  border-color: #8e44ad;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Style for the button */
div .button {
  margin-bottom: 30px;
  background-color: #9b59b6;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 700;
  padding: 12px 80px;
  display: block;
  margin: 20px auto;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  width: 300px;
  height: 60px;
}

div .button:hover {
  background-color: #8e44ad;
}







